.header{
  width:100%;
  height:10%;
  background:#142170;
  top:0;
  left:0;
  /*color:white;*/
  z-index:7;
  font-family: verdana, serif;

}
.body{
  width:100%;
  height:89%;
 /* border-style: solid;
  border-width: 3px;
  border-color: red;*/
}
.footer{
  width:100%;
  height:1%;

  background-color: azure;

}

.background{
  position:absolute;
  width:100%;
  height: 100%;
  top:0;
  left:0;

  background-color: azure;
  z-index:7;
  font-family: verdana, serif;




}

#img{
  padding-left: 30px;
  padding-top: 30px;
}
