.button{
  padding-right: auto;
  padding-left: auto;
  margin-right: 35px;
  width: 80px;
  height: 30px;
  text-align: center;
}
.inputField{

  width: 175px;
  height: 30px;
}
.fieldName{
  margin-top: 5px;
}
.description{
  width: 175px;
  height: 105px;
  max-width: 250px;
  max-height: 150px;
}
#addButton{
  margin-left: 35px;
}
.choose {
  float: right;
  margin-right: 15px;

}
.location {

}
#location{
  margin-left: 0px;
}
.emmptySpaceEnd{
  height: 40px;
}
.emmptySpaceStart{
  height: 20px;
}


